option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false

commands:
  01_install_system_packages:
    command: |
      yum install -y gcc libffi-devel python3-devel openssl-devel

packages:
  yum:
    python3-devel: []
    gcc: []
    libffi-devel: []
    openssl-devel: []
