option_settings:
  aws:ec2:instances:
    InstanceTypes: t3.micro
  aws:elasticbeanstalk:xray:
    XRayEnabled: false
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true

files:
  /opt/elasticbeanstalk/tasks/bundlelogs.d/01_python.conf:
    content: |
      /var/log/eb-engine.log
      /var/log/eb-hooks.log
